{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:'en-us' }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static 'admin/css/rtl.css' %}{% endblock %}" />{% endif %}
    {% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}" />
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive_rtl.css' %}" />{% endif %}
    {% endblock %}
    <!--<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'admin/css/base.css' %}{% endblock %}" />-->
    <link rel="stylesheet" type="text/css" href="{% static 'vali/css/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/font-awesome/4.7.0/css/font-awesome.min.css' %}" />
    <style>
    body {background-color: #E5E5E5;}
    #content {padding:20px 20px;}
    input, textarea, select, .form-row p, form .button {vertical-align: middle;}
    select { height: 30px;border-radius: 4px; padding: 5px 6px;}
    thead th { padding: 5px 10px; line-height: normal;text-transform: uppercase;background: #f6f6f6;}
    thead th, tfoot td { color: #666; font-size: 11px;  border: none;  border-top: 1px solid #eee;  border-bottom: 1px solid #eee;}
    th { font-weight: 600;}
    table thead th .text a { display: block;  cursor: pointer;   padding: 8px 10px;}
    td, th { font-size: 13px; padding: 8px;  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;}
    input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=tel], textarea, select, .vTextField {
    border: 1px solid #ccc;    border-radius: 4px;    padding: 5px 6px;    margin-top: 0;}
    .module h2, .module caption, .inline-group h2 {    margin: 0;    padding: 8px;    font-weight: 400;    font-size: 13px;    text-align: left;    background: #79aec8;    color: #fff;}
    </style>
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
</head>
{% load i18n %}
<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}" data-admin-utc-offset="{% now 'Z' %}" {% block bodyevent %}{% endblock %}>
{% if not is_popup %}
    <!-- Header -->
    {% block appheader %}
    <div class="app-header">
        {% block branding %}{% endblock %}
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar"></a>
        <ul class="app-nav">
            {% block appsearch %}
            <li class="app-search">
              <input class="app-search__input" type="search" placeholder="{% trans 'Search' %}">
              <button class="app-search__button"><i class="fa fa-search"></i></button>
            </li>
            {% endblock %}
        <!--Notification Menu-->
        <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o fa-lg"></i></a>
          <ul class="app-notification dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-222px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
            <li class="app-notification__title">You have 4 new notifications.</li>
            <div class="app-notification__content">
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Lisa sent you a mail</p>
                    <p class="app-notification__meta">2 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Mail server not working</p>
                    <p class="app-notification__meta">5 min ago</p>
                  </div></a></li>
              <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                  <div>
                    <p class="app-notification__message">Transaction complete</p>
                    <p class="app-notification__meta">2 days ago</p>
                  </div></a></li>
              <div class="app-notification__content">
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Lisa sent you a mail</p>
                      <p class="app-notification__meta">2 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-danger"></i><i class="fa fa-hdd-o fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Mail server not working</p>
                      <p class="app-notification__meta">5 min ago</p>
                    </div></a></li>
                <li><a class="app-notification__item" href="javascript:;"><span class="app-notification__icon"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x text-success"></i><i class="fa fa-money fa-stack-1x fa-inverse"></i></span></span>
                    <div>
                      <p class="app-notification__message">Transaction complete</p>
                      <p class="app-notification__meta">2 days ago</p>
                    </div></a></li>
              </div>
            </div>
            <li class="app-notification__footer"><a href="#">See all notifications.</a></li>
          </ul>
        </li>
        <!-- User Menu-->
         {% block usertools %}
            {% if has_permission %}
                {% block userlinks %}
                <li id="user-tools" class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-user fa-lg"></i></a>
                    <ul class="dropdown-menu settings-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-117px, 50px, 0px); top: 0px; left: 0px; will-change: transform;">
                        {% if site_url %}
                        <li><a class="dropdown-item" href="{{ site_url }}"><i class="fa fa-cog fa-lg"></i> {% trans 'View site' %} </a></li>
                        {% endif %}
                        {% if user.has_usable_password %}
                        <li><a class="dropdown-item" href="javascript:addTab('password_change','修改密码','{% url 'admin:password_change' %}', true);"><i class="fa fa-user fa-lg"></i> {% trans 'Change password' %} </a></li>
                        {% endif %}
                        {% if user.is_active and user.is_staff %}{% url 'django-admindocs-docroot' as docsroot %}
                            {% if docsroot %}
                            <li><a class="dropdown-item" href="{{ docsroot }}"><i class="fa fa-user fa-lg"></i>{% trans 'Documentation' %}</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'admin:logout' %}"><i class="fa fa-sign-out fa-lg"></i>{% trans 'Log out' %}</a></li>
                    </ul>
                </li>
                {% endblock %}
            {% endif %}
         {% endblock %}
      </ul>
        {% block nav-global %}{% endblock %}
    </div>
    {% endblock %}
    <!-- END Header -->
{% endif %}
{% block pretitle %}{% endblock %}
{% block content_title %}
<div class="app-title" style="margin: 0px 0px;position:relative;z-index:1020;padding:10px">
    {% if title %}
        <div>
            {% if cl %}
            <h1><i class="fa fa-th-list"></i>
                {{ cl.opts.verbose_name_plural|capfirst }}
            </h1>
            {% else %}
                <a class="btn btn-outline-info" href="javascript:backtolistview()">
                    <i class="fa fa-chevron-left"></i>
                返回【{{ opts.verbose_name_plural|capfirst }}】列表
                </a>
            {% endif %}

            {# <p>{{ title }}</p> #}
        </div>
    {% endif %}
    {% block breadcrumbs %}{% endblock %}
</div>
{% endblock %}
{% block messages %}
    {% if messages %}
    <ul class="alert alert-dismissible alert-info" style="list-style:none">
        <button class="close" type="button" data-dismiss="alert">×</button>
        {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}
{% endblock messages %}
<!-- Container -->
<div id="container">


    {% block aside %}
    <aside class="app-sidebar">
        <div class="app-sidebar__user"><i class="app-sidebar__user-avatar fa fa-user fa-lg"></i>
            <div>
                <p class="app-sidebar__user-name">{% firstof user.get_short_name user.get_username %}</p>
                <p class="app-sidebar__user-designation"></p>
            </div>
        </div>
        <ul class="app-menu">
        <li><a class="app-menu__item" href="/admin/"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">{% trans 'Home' %}</span></a></li>
        {% if app_list %}
        {% for app in app_list %}
        <div class="app-{{ app.app_label }} module">
            <li class="treeview">
                <a href="{{ app.app_url }}" class="app-menu__item" data-toggle="treeview" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">
                    <i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">{{ app.name }}</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                <ul class="treeview-menu">
                    {% for model in app.models %}
                        <li class="model-{{ model.object_name|lower }}">
                        {% if model.admin_url %}
                            <!--<a class="treeview-item" href="{{ model.admin_url }}"><i class="icon fa fa-circle-o"></i>{{ model.name }}</a>-->
                            <a class="treeview-item" href="javascript:addTab('{{ model.object_name|lower }}', '{{ model.name }}','{{ model.admin_url }}', true);"><i class="icon fa fa-circle-o"></i>&nbsp;{{ model.name }}</a>
                        {% else %}
                            {{ model.name }}
                        {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </div>
        {% endfor %}
        {% else %}
        <p>{% trans "You don't have permission to edit anything." %}</p>
        {% endif %}
        </ul>
    </aside>
    {% endblock %}
    <!-- Content -->
    <div id="content" class="{% block coltype %}app-content colM{% endblock %}">

        {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        {% block content_clear %}<br class="clear" />{% endblock %}
    </div>
    <!-- END Content -->
    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->
<!-- Javascripts-->
<!-- Essential javascripts for application to work-->
<script src="{% static 'vali/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vali/js/popper.min.js' %}"></script>
<script src="{% static 'vali/js/bootstrap.min.js' %}"></script>
{% block footscript %}
{% endblock %}
<!-- The javascript plugin to display page loading on top-->
<script src="{% static 'vali/js/plugins/pace.min.js' %}"></script>
<!-- Page specific javascripts-->
</body>
</html>
