{% load i18n admin_urls %}
<div class="btn-group-vertical col-md-12">
    {% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="btn btn-primary" name="_save" style="margin-bottom:5px"/>{% endif %}
    {% if show_save_as_new %}<input class="btn btn-secondary" type="submit" value="{% trans 'Save as new' %}" name="_saveasnew"  style="margin-bottom:5px"/>{% endif %}
    {% if show_save_and_add_another %}<input class="btn btn-secondary" type="submit" value="{% trans 'Save and add another' %}" name="_addanother"  style="margin-bottom:5px"/>{% endif %}
    {% if show_save_and_continue %}<input class="btn btn-secondary" type="submit" value="{% trans 'Save and continue editing' %}" name="_continue"  style="margin-bottom:5px"/>{% endif %}
    {% if show_delete_link %}
    <br />
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a href="{% add_preserved_filters delete_url %}" class="btn btn-danger">{% trans "Delete" %}</a>
    {% endif %}
</div>
